body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow: scroll;
}

.appbar {
    background-color: black !important;
    position: sticky;
}

.support-button {
    text-decoration-color: white;
}

.title {
    flex-grow: 1;
}

.section1 {
    margin: 1rem; 
}

.section2 {
    margin: 1rem; 
}

.card h5 {
    margin-bottom: 1rem;
}

.accordion {
    margin-top: 1rem;
}

/* Accordion styling */

details {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px;
  }
  
  summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  details[open] summary::after {
    content: '▲';
    float: right;
  }
  
  details summary::after {
    content: '▼';
    float: right;
  }